#main-canvas {
    background-color: rgb(21, 31, 48);
}

body {
    margin:0px;
    padding:0px;
    background-color: rgb(21, 31, 48);
}

.btn {
    margin:10px;
    display: block;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    box-shadow: none;
    border:3px solid white;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}