#main-canvas {
    background-color: rgb(21, 31, 48);
    border: 3px solid white;
    display: inline-block;
}

body {
    font-family:Helvetica, Arial,sans-serif;
    color:white;
    padding:0px;
    margin:0px;
    background-color: rgb(21, 31, 48);
}

.btn {
    margin:10px;
    display: inline-block;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    box-shadow: none;
    border:3px solid white;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

#btn-container {
    margin:50px;
    display: block;
}